#todoContent { 
    width: 100%;
    margin: 0px !important;
} 

#content{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 0;
    bottom: 0;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 200px;
    background-color: var(--blue5);
    height: 100%;
    z-index: 1;
} 

h1 {
    margin: 20px;
    display: block;
    font-family: lastica;
    margin-top: 40px;
    font-size: 40px;
    color: var(--blue3);
    text-shadow: 0px 0px 2px var(--blue2);
    cursor: pointer;
    transition: 300ms all;
}

h1:hover {
    transform: scale(1.2, 1.2);
}

ul {
    list-style: none;
}

li a {
    display: block;
    background-color: var(--blue4);
    padding: 10px;
    color: var(--blue2);
    margin-top: 40%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 25px;
    font-family: audiowide;
    box-shadow: 0px 0px 4px var(--blue5);
    transition: 300ms all;
}

li a:hover {
    background-color: var(--blue3);
}

#router {
    position: absolute;
    left: 200px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--blue3);
    border: 30px solid var(--blue5);
    box-shadow: 0px 0px 4px black inset;
    overflow: scroll;
}

@media(max-width: 763px){
    #todoContent {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    #content {
        position: relative;
        width: 100% !important;
        margin: 0px;
        height: 240px;
        top: auto;
        bottom: auto;
    }

    #router{
        position: relative;
        width: 100%; 
        border: none;
        margin: 0px;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
        overflow: auto;
    }

    header {
        width: 100%;
        flex-flow: column wrap;
    }

    h1{
        display: block;
        width: 80%;
        text-align: center;
    }

    ul {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center !important;
        height: 100px;
    }

    li a {
        margin-top: 0px;
    }

    #links{
        width: 80%;
    }

}

@media(max-width: 612px) {
    li a {
        font-size: 18px;
    }
}

#linkToLogin{
    position: absolute;
    font-size: 10px;
    color: var(--blue4);
    bottom: 5px;
    left: 5px;
    z-index: 2;
    text-decoration: none;
}

#adminBox {
    background-color: var(--blue2);
    height: 100%;
}