#content{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 0;
    bottom: 0;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 200px;
    background-color: var(--blue5);
    height: 100%;
    z-index: 1;
} 

h1 {
    margin: 20px;
    display: block;
    font-family: lastica;
    margin-top: 40px;
    font-size: 40px;
    color: var(--blue3);
    text-shadow: 0px 0px 2px var(--blue2);
    cursor: pointer;
    transition: 300ms all;
}

h1:hover {
    transform: scale(1.2, 1.2);
}

ul {
    list-style: none;
}

li a {
    display: block;
    background-color: var(--blue4);
    padding: 10px;
    color: var(--blue2);
    margin-top: 40%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 25px;
    font-family: audiowide;
    box-shadow: 0px 0px 4px var(--blue5);
    transition: 300ms all;
}

li a:hover {
    background-color: var(--blue3);
}

#router {
    position: absolute;
    left: 200px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--blue3);
    border: 30px solid var(--blue5);
    box-shadow: 0px 0px 4px black inset;
    overflow: scroll;
}