<div id="todoContent" *ngIf="!auth && verifyAuth">
    <div id="content">
        <header>
            <h1 [routerLink]="['/']">TATO</h1>
            <ul id="links">
                <li class="link"><a href="" [routerLink]="['/about']">Sobre mí</a></li>
                <li class="link"><a href="" [routerLink]="['/contact']">Contacto</a></li>
                <li class="link"><a href="" [routerLink]="['/briefcase']">Portafolio</a></li>
            </ul>
        </header>
    </div>
    <div id="router" *ngIf="!auth && verifyAuth">
        <router-outlet></router-outlet>
    </div>
</div>
<a id="linkToLogin" [routerLink]="['/login']" *ngIf="!auth">L</a>
<div *ngIf="auth && verifyAuth" id="adminBox">
    <app-admin id="appAdmin"></app-admin>
</div>