#content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--blue2);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

h1 { 
    font-size: 45px;
    margin: 30px;
}

#projects {
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    overflow: scroll;
    width: 80%;
}

.project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 20px;
    border: 1px solid var(--blue5);
}

.project .delete {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% + 40px);
    margin-top: -20px;
    margin-right: -20px;
    width: 40px;
    background-color: rgb(218, 28, 28);
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 4px var(--blue5), 0px 0px 3px black inset;
    cursor: pointer;
    transition: 300ms all;
}

.project .delete:hover {
    background-color: rgb(180, 9, 9);
}