.content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#title {
    margin-top: 20px;
    font-size: 30px;
    color: var(--blue5);
    text-shadow: 0px 0px 2px var(--blue5);
    font-family: audiowide;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--blue5);
    margin-top: 30px;
    text-decoration: underline;
}

#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 30px;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px;
}

.skill *{
    margin-top: 15px; 
}

.skill h4  {
    font-size: 23px;
    color: var(--blue5);
    text-decoration: underline;
}

.skill .image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.skill img {
    margin: 0px auto;
    width: 50%;
}

.bar{
    background-color: var(--blue4);
    border-radius: 30px;
    width: 150px;
    height: 10px;
}

.bar .contentBar{
    border-radius: 30px;
    height: 100%;
    margin: 0px;
}

.barRed{
    background-color: rgb(212, 4, 4);
}

.barYellow{
    background-color: rgb(206, 206, 0);
}

.barGreen{
    background-color: rgb(0, 199, 0);
}