<div class="content" *ngIf="skills">
    <h1 id="title">
        Hola, Soy Thiago Puyelli y soy desarrollador web
    </h1>
    <h2>Habilidades</h2>
    <div id="skills">
        <div class="skill" *ngFor="let i of skills">
            <h4>{{i.skill}}</h4>
            <div class="image">
                <img src="{{i.icon}}" alt="">
            </div>
            <span>{{i.porcent}}%</span>
            <div class="bar">
                <div class="contentBar" [ngStyle]="{'width': i.porcent + '%'}"
                [ngClass]="{
                    'barRed': i.porcent <= 30,
                    'barYellow': i.porcent >= 31 && i.porcent <= 60,
                    'barGreen': i.porcent > 60 && i.porcent <= 100
                }"
                ></div>
            </div>
        </div>
    </div>
</div>