<div id="content">
    <h1>Hola Administrador!</h1>
    <div id="boxs">
        <div class="box">
            <h2>Contactos</h2>
            <img src="../../../assets/img/contact-book.svg" alt="">
        </div>
        <div class="box">
            <h2>Sobre mi</h2>
            <img src="../../../assets/img/about.svg" alt="">
        </div>
        <div class="box">
            <h2>Portafolio</h2>
            <img src="../../../assets/img/briefcase.svg" alt="">
        </div>
        <div class="box">
            <h2>Habilidades</h2>
            <img src="../../../assets/img/skill.svg" alt="">
        </div>
    </div>
</div>